<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>

    <style>
    h1 {
        text-align: center;
        font-family:fantasy;
        font-style: oblique;
    }
    .nav li {
        display: inline;
        padding-left: 25px;
    }
    form {
         background-color: #00aabb;
}
    textarea {
        width: auto;
        height: auto;
    }
    .right {
        float: right;
    }
    .error {
        color: red;
        font-family:fantasy;
        font-style: oblique;
    }
</style>
<body>
<div class="nav">
    <ul>
        <li><a href="/blog">Haile Main Page</a></li>
        <li><a href="/newpost">Please Add a Blog</a></li>
        <li><a href="/">home page</a></li>
        <li><a href="/blog">all posts here</a></li>
        <li><a href="/newpost">included new posts</a></li>
        <li class="right"><a href="/login">login</a></li>
       <li class="right"><a href="/login">logout</a></li>

    </ul>
</div>
    {% block content %}
    {% endblock %}

</body>
</html>
</html>
