{% extends "base.html" %}

{% block content %}
    <h1 style= "text-align:center;"> Haile Build Your Blog!</h1>
    <form action="/newpost" method='post'>

        <label>
            <p>Here is Haile's Title for the new blog:</p>
            <input type="text" name='title' />
            <p class="error">{{title_error}}</p>
        </label>
        <br>
        <br>
        <br>
        <label>Here is new blog:
            <textarea name='content'></textarea>
        </label>
        <p class="error">{{content_error}}</p>
        <input type="submit" value="Add Entry"/>

    </form>


{% endblock %}
